*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background:#0f172a;
  color:white;
  font-family:Arial,sans-serif;
}

.game-container{
  text-align:center;
}

h1{
  color:#38bdf8;
  margin-bottom:15px;
}

#status{
  margin-bottom:15px;
  color:#cbd5e1;
}

.score-box{
  margin-bottom:25px;
  font-size:20px;
  font-weight:bold;
}

.game-board{
  display:grid;
  grid-template-columns:repeat(2, 160px);
  gap:15px;
  margin-bottom:25px;
}

.btn{
  width:160px;
  height:160px;
  border-radius:18px;
  cursor:pointer;
  opacity:0.8;
  transition:0.2s;
}

.green{
  background:#22c55e;
}

.red{
  background:#ef4444;
}

.yellow{
  background:#facc15;
}

.blue{
  background:#3b82f6;
}

/* FLASH EFFECT */

.btn.active{
  opacity:1;
  transform:scale(1.05);
  box-shadow:0 0 25px white;
}

#startBtn{
  border:none;
  padding:14px 24px;

  border-radius:12px;

  background:#38bdf8;
  color:black;

  font-weight:bold;
  cursor:pointer;
}

#startBtn:hover{
  opacity:0.9;
}

@media(max-width:500px){

  .game-board{
    grid-template-columns:repeat(2,120px);
  }

  .btn{
    width:120px;
    height:120px;
  }

}
